body{
	font-family: "Arial","Microsoft YaHei","÷ו","ו",sans-serif;
	overflow-x:hidden;
}
#content{
	padding-top:50px;
}
#navid{
	background:#F2F2F2;
	box-shadow:3px 3px 5px #888888;
}
#leftinfo li{
	cursor:pointer;
	
}


