<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-init-method="init">    
     
    <!-- 引入jdbc配置文件 -->
    <context:property-placeholder location="classpath:config/application.properties" />
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
    </bean>
 
    <!-- 配置SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
<!-- 		<property name="hibernate.current_session_context_class" value="thread"></property> -->
		
		<property name="hibernateProperties">
			<props>
			 <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
       			<prop key="connection.release_mode">auto</prop>
       			<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="show_sql">true</prop>
				<prop key="format_sql">true</prop>
				<prop key="org.springframework.orm.hibernate3.SpringSessionContext">thread</prop>
			</props>
		</property>
 		<property name="packagesToScan">
			<list>
				<value>phm.GrProject.entity</value>
			</list>
		</property>
	</bean>
	
 	<!-- <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean> -->

	
     <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
   
    <bean
			class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"
			p:ignoreDefaultModelOnRedirect="true">
			<property name="messageConverters">
				<list>
					<bean
						class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
				</list>
			</property>
		</bean>
 <!-- 事务管理器配置,单数据源事务 -->  
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory" />  
    </bean>  
  
    <!-- 使用annotation定义事务 -->  
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
</beans>